/* RESET CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

h2 {
    font-family: Arial, sans-serif;
}

/* /COMMON */

/* HEADER */

header {
    height: 100px;
    background-color: #edf2f7;
    box-shadow: 0px 5px 10px rgb(216, 216, 216);
}

header > #logo {
    display: block;
    height: 100px;
    margin: auto;
}
/* /HEADER */

/* MAIN */

.container{
    width: 80%;
    margin: 50px auto;
    background-color: #edf2f7;
    border-radius: 10px 10px 0px 0px;
}

.top-container{
    height: 80px;
    
}

.div-form{
   width: 324px;
   line-height: 80px;
   margin: auto;
}

.input-todo-object, .submit-btn {
    height: 35px;
    vertical-align: middle;
    border-radius: 5px;
}

.input-todo-object{
    width: 250px;
    padding-left: 10px;
    border: solid 1px grey;
    font-size: 16px;
}

.submit-btn{
    width: 70px;
    background-color: #14aaf5;
    border: none;
    color: #fff;
}

/* /MAIN */