/* RESET CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */

h2 {
    font-family: Arial, sans-serif;
}

.check-mark {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: solid 1px green;
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 3px;
    color: green;
    font-size: 12px;
    line-height: 18px;
}

.cross-mark {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: solid 1px red;
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 3px;
    color: red;
    font-size: 12px;
}

/* /COMMON */

/* HEADER */

header {
    height: 100px;
    background-color: #edf2f7;
    box-shadow: 0px 5px 10px rgb(216, 216, 216);
}

header > #logo {
    display: block;
    height: 100px;
    margin: auto;
}
/* /HEADER */

/* MAIN */

.container{
    width: 80%;
    margin: 50px auto;
    background-color: #edf2f7;
    border-radius: 10px 10px 0px 0px;
}

/* TOP-CONTAINER */
.top-container{
    height: 80px;
    
}

.div-form{
   width: 324px;
   line-height: 80px;
   margin: auto;
}

.input-todo-object, .submit-btn {
    height: 35px;
    vertical-align: middle;
    border-radius: 5px;
}

.input-todo-object{
    width: 250px;
    padding-left: 10px;
    border: solid 1px grey;
    font-size: 16px;
}

.submit-btn{
    width: 70px;
    background-color: #14aaf5;
    border: none;
    color: #fff;
}
/* /TOP CONTAINER */

/* BOTTOM-CONTAINER */

.bottom-container{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 30px;
}

.bottom-container > ul > li{
    list-style-type: none;
    color: #434851;
}

.bottom-container>ul>li>h2 {
    font-size: 20px;
    font-weight: 600;
}

.bottom-container>ul>li>ul>.li-items-todo {
    background-color: #fff;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    list-style-type: none;
    padding-left: 15px;
    margin: 5px 0;
}

.todo-list-object, .todo-list-description {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through black;
    vertical-align: middle;
}

.todo-list-description {
    padding: 4px;
    background-color: #14aaf5;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 14px;
}


/* /BOTTOM-CONTAINER */

/* /MAIN */